
/* mobile */
@media (max-width:480px) {

  .follow_container{
    /* z-index: -1; */
  }
  .em_hide{
    display: none !important;
  }
  .top-title {
    /* left: 10%;
    top: 85%; */
  }
}
/* tab */
@media (min-width:768px) {
  .top-title {
    left: 10%;
    top: 85%;
  }
}
/*big screens */
@media (max-width: 992px) {
  .top-title {
    left: 20%;
    top: 85%;
  }
}
@media (min-width: 992px) {
  .top-title {
    left: 30%;
    top: 85%;
  }
  /* .col-md-6 {
    float: left;
    width: 50%;
  }
  .col-md-offset-3 {
    margin-left: 25%; 
  } */
}
.home-container{
  padding: 30px;
  line-height: 30px;
}

/* Banner Image */
.banner_image {
    padding: 0;
    min-width: 100%;
    height: 92vh; 
    background: url('../../../public/banner1.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    background-position: center;
    animation: slide-background 10s linear infinite; 
  }
  
  .follow_container {
    width: 100%;
    position: absolute;
    
    top: 35%;
    text-align: center;
    
    justify-content: center;
    align-items: center;
  }
  
  .top-title {
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Playball', cursive;
    font-size: 80px;
    font-weight: 400;
  }
  
  .second-title {
    font-weight: lighter;
    font-size: 30px;
    font-style: italic;
    text-transform: capitalize;
  }
  
  .white {
    color: white;
  }
  
  /* .col-md-6 {
    position: relative;
    min-height: 1px;


    /* padding-right: 15px;
    padding-left: 15px; */
  /* } */
 