<td align="center" class="em_full_img"><img alt="Black Friday is here"
        src="https://cdn.joinhoney.com/images/email/newsletters/international/UK/2024/11/bf-lights-3%201%20(1).gif"
        style="width: 600px; padding: 0px; text-align: center;display: block;line-height: 50%" width="600">
</td>

<td align="center" class="hide-mobile"><a
        href="https://o.honey.io/store/282025044580594909/website?afsrc=1&param0={{userId}}&af8=Email&src=shopping-email&cat=deeplink&turl=https%3A%2F%2Fwww.apple.com%2Fuk%2Fshop%2Fgifts%2Fshopping-event"
        style="text-decoration:none;" 
        target="_blank">
        <img alt="Apple 1% Honey Gold"
            src="https://cdn.joinhoney.com/images/email/newsletters/international/UK/2024/11/Frame%205730.png"
            style="width: 560px; padding: 0px; text-align: center;"
             width="560" 
            target="_blank" /></a></td>