
[data-theme="light"] {
  /* --bg-color: #ffffff; */
  --text-color: #333333;
  --heading-color: #444444;
  background: linear-gradient(90deg, white,rgb(154, 184, 249), rgb(30, 20, 200));
  .bg2{
    background: linear-gradient(90deg, white, rgb(94, 94, 252));
   }
}

[data-theme="dark"] {
  --bg-color: #282828;
  --text-color: #ffffff;
  --heading-color: #dddddd;
 /* --bg2-color: rgb(61, 61, 61); */
 background: linear-gradient(90deg, black,rgb(1, 1, 71));
 .bg2{
  background: linear-gradient(90deg, rgb(6, 0, 58), rgb(1, 1, 122));
 }
}

@keyframes slide-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@media (min-width:480px) {
  .em_hide{
    display: none !important;
  }
}
@media (min-width:768px) {
  .em_hide{
    display: none !important;
  }
}
@media (min-width: 992px) {

}


body {
  /* background-color: var(--bg-color); */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

h1 {
  color: var(--heading-color);
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.page {
  display: flex;
  flex-direction: column;
  height: 92vh;
}

.navbar {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar div {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.mode-switch label {
  display: inline-block;
  width: 40px;
  height: 20px;
  position: relative;
  margin-left: 10px;
}

.mode-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.mode-switch input:checked + .slider {
  background-color: aqua;
}

.mode-switch .slider:before {
  position: absolute;
  content: "☀️";
  height: 16px;
  width: 16px;
  font-weight: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  border-radius: 50%;
}

.mode-switch input:checked + .slider:before {
  transform: translateX(20px);
  content: "🌙";
  background-color: rgb(234, 225, 49);
}

.nav-button:hover {
  color: rgb(158, 158, 158); 
  text-decoration: none;
}

